.wrapper {
  width: 60%;
  display: block;
  overflow: hidden;
  margin: 0 auto;
  padding: 60px 50px;
  background: #fff;
  border-radius: 4px;
}

canvas {
  background: #fff;
  height: 50rem;
}

:host ::ng-deep .p-dropdown-label {
  padding-right: 0rem !important;
  font-size: 0.7rem !important;
}

:host ::ng-deep .p-dropdown-trigger {
  font-size: 0.7rem !important;
}
